<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ASPNETCORE_ENVIRONMENT" value="Development"/>
    <add key="PROVISIONING_CONNECTION_STRING" value ="HostName=EprediaDPS.azure-devices-provisioning.net;SharedAccessKeyName=provisioningserviceowner;SharedAccessKey=n9Ek1wrd+3RSnmuCwCLFyHD/401Q3IUeZ0dji/CR0vc="/>
    <add key="idScope" value ="0ne00110F10"/>
    <add key="GLOBAL_DEVICE_ENDPOINT" value ="global.azure-devices-provisioning.net"/>
    <add key="Password" value ="revos1234"/>
    <add key="IOTHUB_CONNECTION_STRING" value="HostName=epredia-iothub.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=tiaNJZ8l1LH7T+wpe1CZlxL46gaV2I0BZZY+I7iSX1s="/>
  </appSettings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BootstrapService.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: dfc425d7-69f7-4cd2-9b98-e1dea276a819-->
 
